[Unit]
Description=Storages-CE sidecar proxy
Documentation=https://docs.zextras.com/zextras-suite-documentation/latest/
Requires=network-online.target
Requires=carbonio-storages.service
After=network-online.target
After=carbonio-storages.service

[Service]
User=carbonio-storages
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/zextras/carbonio-storages/token \
    -admin-bind localhost:0 \
    -sidecar-for carbonio-storages
Restart=on-failure
RestartSec=15
ExecReload=/usr/bin/kill -HUP $MAINPID
KillSignal=SIGINT
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
