[Unit]
Description=Storages-CE sidecar proxy
Documentation=https://docs.zextras.com/zextras-suite-documentation/latest/
Requires=network-online.target
Requires=storages-ce.service
After=network-online.target
After=storages-ce.service

[Service]
Type=simple
ExecStart=/usr/bin/consul connect envoy \
    -token-file /etc/zextras/storages/token \
    -admin-bind localhost:0 \
    -sidecar-for storages-ce
Restart=on-failure
RestartSec=15
User=carbonio-storages
KillMode=process
KillSignal=SIGKILL
LimitNOFILE=65536
TimeoutSec=120
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
